# 環境変数
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# 仮想環境
venv/
env/
ENV/

# データ・モデル
data/
*.pkl
*.joblib
*.h5

# Jupyter Notebook
.ipynb_checkpoints

# ログ
logs/
*.log

# macOS
.DS_Store

# IDE
.idea/
.vscode/
*.swp
*.swo